################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Umbraco9Membership/umbraco/models/ood.flag

/.vs/Umbraco9Membership
