<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5d7aed0-496c-4899-8737-46d3880286a4" Alias="Carl (1)" Level="2">
  <Info>
    <Parent Key="a5a20a96-0896-40dd-b39c-11a2b112ee3f">Portfolio Starter Kit</Parent>
    <Path>/PortfolioStarterKit/Carl1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-06T23:24:31</CreateDate>
    <NodeName Default="Carl (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/00xnp3lm/carl.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>