<?xml version="1.0" encoding="utf-8"?>
<Media Key="93239c15-d29a-4691-9d3a-ca00ea6882ad" Alias="Melinda Gimpel 5Ne6mmqtido Unsplash" Level="2">
  <Info>
    <Parent Key="a5a20a96-0896-40dd-b39c-11a2b112ee3f">Portfolio Starter Kit</Parent>
    <Path>/PortfolioStarterKit/MelindaGimpel5Ne6mmqtidoUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-06T12:37:08</CreateDate>
    <NodeName Default="Melinda Gimpel 5Ne6mmqtido Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cooche20/melinda-gimpel-5ne6mmqtido-unsplash.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>