<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f52ccef-2a98-4f61-ab55-cd73f3a1e5dd" Alias="Paul Seal (2)" Level="2">
  <Info>
    <Parent Key="a5a20a96-0896-40dd-b39c-11a2b112ee3f">Portfolio Starter Kit</Parent>
    <Path>/PortfolioStarterKit/PaulSeal2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-06T23:19:10</CreateDate>
    <NodeName Default="Paul Seal (2)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3hgfet2y/paul-seal.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>