<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5a20a96-0896-40dd-b39c-11a2b112ee3f" Alias="Portfolio Starter Kit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PortfolioStarterKit</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="Portfolio Starter Kit" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>