<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1d2ae73-a9e2-42f5-85ac-c2a1d4c27c3d" Alias="callToActionSettings" Level="4">
  <Info>
    <Name>Call To Action Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Schemas/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="1b3cc3bc-64f2-4c40-a4ec-d8cdc8e507ca">blockVisibilitySettings</Composition>
      <Composition Key="10f92695-31f2-4787-9ee6-1231db4db65c">itemNameSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>