<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ff0a31a-3727-4cba-b45b-4ba8519499bd" Alias="cardsRow" Level="4">
  <Info>
    <Name>Cards Row</Name>
    <Icon>icon-columns color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Schemas/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="bda7a5ed-34e4-4348-ad7a-91b01c370d7e">blockTitleControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>abac79c8-2a74-4a73-9d3d-10759aff0aa9</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>af159a88-361e-401b-abaa-6f76f44e4978</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>