<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72f2be64-930d-4251-b5ea-09bd59d87791" Alias="contactFormControls" Level="2">
  <Info>
    <Name>Contact Form Controls</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>13934ee0-2ceb-4c5e-b809-99915ee6607e</Key>
      <Name>Error Message</Name>
      <Alias>errorMessage</Alias>
      <Definition>8af40799-3ce9-4153-b405-6e39dc9b2130</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to display when there has been an error with the form.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="contactForm">Contact Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74dc461a-267b-423c-83f8-838d94dfcacf</Key>
      <Name>Thank You Message</Name>
      <Alias>thankYouMessage</Alias>
      <Definition>8af40799-3ce9-4153-b405-6e39dc9b2130</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to display when the form has been submitted successfully.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="contactForm">Contact Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contact Form</Caption>
      <Alias>contactForm</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>