<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d0dc654-1c11-41fb-b1d7-2b3d31bf925b" Alias="cV" Level="2">
  <Info>
    <Name>CV</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page where you can enter all of the details you would add to a CV</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
      <Composition Key="f259625a-808b-4760-b7fc-1bb8bf869a4d">workHistoryControls</Composition>
    </Compositions>
    <DefaultTemplate>CV</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2823facf-c328-4ea5-82b2-cea637fc8295">CV</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>