<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df8b1c08-395e-48ac-ad8b-a2b86bd65484" Alias="editProfile" Level="2">
  <Info>
    <Name>Edit Profile</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>EditProfile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5db6fd3-239c-471c-96bb-71a36ee76659">EditProfile</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>