<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87607330-ae3d-497b-b496-3d666cda01e4" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The home page for the website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f72b2bf3-15f0-4eae-be1d-08fcfb24d8e0">footerControls</Composition>
      <Composition Key="8525c154-2e22-434e-a17c-5811ad2a3c3b">mainContentProperties</Composition>
      <Composition Key="9b63b123-1600-4ca5-aa35-d1b13977f0e9">profileControls</Composition>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5bf1c076-7e1a-41d5-bd3d-e844aaedcf9a">siteNameControls</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da0613c2-6860-4f11-bd0b-d8069a143c76">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e1a118d5-86b3-48f7-b3f3-6aa917eaf31b" SortOrder="0">contact</ContentType>
    <ContentType Key="4d0dc654-1c11-41fb-b1d7-2b3d31bf925b" SortOrder="1">cV</ContentType>
    <ContentType Key="aa8350b5-e399-4d50-8db6-a50aa666a841" SortOrder="2">projectList</ContentType>
    <ContentType Key="f9b57b5e-9036-488a-a19d-cf5b01952ae1" SortOrder="3">login</ContentType>
    <ContentType Key="02f9909f-be6b-44af-831a-e5bd3d1aade6" SortOrder="4">register</ContentType>
    <ContentType Key="77651b0b-d1ca-4e99-a3ff-14e0c38d1ab1" SortOrder="5">profile</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>