<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c9bd42b-0bd4-4b98-a899-95d27494e348" Alias="iconCardSettings" Level="4">
  <Info>
    <Name>Icon Card Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Schemas/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="1b3cc3bc-64f2-4c40-a4ec-d8cdc8e507ca">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>