<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f6a6761-efa8-426e-9b4b-344c596f8aae" Alias="iconCard" Level="4">
  <Info>
    <Name>Icon Card</Name>
    <Icon>icon-receipt-dollar color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Schemas/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="e8726cb2-c23d-43af-8ca5-00a1b0ecfb33">blockDescriptionControls</Composition>
      <Composition Key="bda7a5ed-34e4-4348-ad7a-91b01c370d7e">blockTitleControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c07108ab-35eb-4da6-a6dc-2b8125add7d5</Key>
      <Name>Icon Class</Name>
      <Alias>iconClass</Alias>
      <Definition>fcc3c921-fd99-45c0-90ac-fdc0fd96566b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the icon class for this item]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>