<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9b57b5e-9036-488a-a19d-cf5b01952ae1" Alias="login" Level="2">
  <Info>
    <Name>Login</Name>
    <Icon>icon-unlocked color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="78d42d3c-9474-4073-9d55-d1c249158a75">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>