<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77651b0b-d1ca-4e99-a3ff-14e0c38d1ab1" Alias="profile" Level="2">
  <Info>
    <Name>Profile</Name>
    <Icon>icon-umb-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8525c154-2e22-434e-a17c-5811ad2a3c3b">mainContentProperties</Composition>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Profile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cccc84a6-1fd4-4461-9930-c8360bce6b5c">Profile</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>