<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96dd9b3c-04ae-47fb-b610-d546b05740bb" Alias="projectPreview" Level="4">
  <Info>
    <Name>Project Preview</Name>
    <Icon>icon-laptop color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Schemas/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="e8726cb2-c23d-43af-8ca5-00a1b0ecfb33">blockDescriptionControls</Composition>
      <Composition Key="6e4aadfb-3980-48af-89c1-bfbd63a0a632">blockImageControls</Composition>
      <Composition Key="bda7a5ed-34e4-4348-ad7a-91b01c370d7e">blockTitleControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>