<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a936ae0-fcfc-4c38-a483-39a01109fe92" Alias="project" Level="2">
  <Info>
    <Name>Project</Name>
    <Icon>icon-laptop color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page where you can showcase one of your projects</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c549ce18-4f91-4d45-b0cf-65ddc91f9b67">mainHeaderControls</Composition>
      <Composition Key="9bc37b23-7159-4798-92b4-c3b64bc4fb7d">mainImageSettings</Composition>
      <Composition Key="703558e1-cbeb-4351-80d7-13bec71f1e42">projectControls</Composition>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Project</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4203639-ce9c-448b-93c6-ad498f5794ba">Project</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>