<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa8350b5-e399-4d50-8db6-a50aa666a841" Alias="projectList" Level="2">
  <Info>
    <Name>Project List</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page to display all of the projects you are proud of</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c549ce18-4f91-4d45-b0cf-65ddc91f9b67">mainHeaderControls</Composition>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>ProjectList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="710c93a2-eed2-42f3-9537-b4c900618d8f">ProjectList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0a936ae0-fcfc-4c38-a483-39a01109fe92" SortOrder="0">project</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>