<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39847bc4-3a74-46b0-9b92-c40c3697011d" Alias="sEOControls" Level="2">
  <Info>
    <Name>SEO Controls</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>863627ed-561b-4023-8445-358c0b618997</Key>
      <Name>Canonical Url</Name>
      <Alias>canonicalUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the canonical url for this page. If it is empty, the url of the page will be used instead.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dddbe695-206e-4ce2-ac26-238ad7b0a182</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>e5374539-c298-4f58-9bb3-38c2131bd20d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta description for the page. This is what will show in search engine results.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f072fdd8-7d76-4fce-ba63-1ba1cfe137d9</Key>
      <Name>Meta Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>41f047db-7b55-420c-a448-81b55fb25b7b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title for the page. If this is blank, we will use page title. If that is blank we will use page name.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>70</SortOrder>
    </Tab>
  </Tabs>
</ContentType>