<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af159a88-361e-401b-abaa-6f76f44e4978" Alias="[BlockList] Cards" Level="1">
  <Info>
    <Name>[BlockList] Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "thumbnail": null,
      "contentElementTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
      "settingsElementTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
      "view": null,
      "stylesheet": null,
      "label": "{{ !title || title == ''  ?  'Icon Card ' + $index : title}} {{$settings.hide== '1' ? '[HIDDEN]' : ''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 3
  },
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>