<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f5a897a-3fc6-4699-9bd8-85577ef0b351" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "thumbnail": null,
      "contentElementTypeKey": "8728e9e8-749f-4719-a3f3-6ed780b42141",
      "settingsElementTypeKey": "e1d2ae73-a9e2-42f5-85ac-c2a1d4c27c3d",
      "view": null,
      "stylesheet": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Call to action' : $settings.itemName}} {{$settings.hide== '1' ? '[HIDDEN]' : ''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "thumbnail": null,
      "contentElementTypeKey": "0ff0a31a-3727-4cba-b45b-4ba8519499bd",
      "settingsElementTypeKey": "e2ec53a3-602d-4134-a56e-7ff7fe92a587",
      "view": null,
      "stylesheet": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Cards Row' : $settings.itemName}} {{$settings.hide== '1' ? '[HIDDEN]' : ''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "thumbnail": null,
      "contentElementTypeKey": "96dd9b3c-04ae-47fb-b610-d546b05740bb",
      "settingsElementTypeKey": "40c5160c-386f-42cf-9101-b4c816fc8a2d",
      "view": null,
      "stylesheet": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Project Preview' : $settings.itemName}} {{$settings.hide== '1' ? '[HIDDEN]' : ''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>