<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db47302c-61d4-4c21-9eac-5c5ad1f7791b" Alias="[CheckboxList] Skills" Level="1">
  <Info>
    <Name>[CheckboxList] Skills</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Umbraco"
    },
    {
      "id": 2,
      "value": "Databases"
    },
    {
      "id": 3,
      "value": "JavaScript"
    }
  ]
}]]></Config>
</DataType>