<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcc3c921-fd99-45c0-90ac-fdc0fd96566b" Alias="[Dropdown] Icon List" Level="1">
  <Info>
    <Name>[Dropdown] Icon List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Alert"
    },
    {
      "id": 2,
      "value": "Alert Circled"
    },
    {
      "id": 3,
      "value": "Android Add"
    },
    {
      "id": 4,
      "value": "Android Add Circle"
    },
    {
      "id": 5,
      "value": "Android Alarm Clock"
    },
    {
      "id": 6,
      "value": "Android Alert"
    },
    {
      "id": 7,
      "value": "Android Apps"
    },
    {
      "id": 8,
      "value": "Android Archive"
    },
    {
      "id": 9,
      "value": "Android Arrow Back"
    },
    {
      "id": 10,
      "value": "Android Arrow Down"
    },
    {
      "id": 11,
      "value": "Android Arrow Dropdown"
    },
    {
      "id": 12,
      "value": "Android Arrow Dropdown Circle"
    },
    {
      "id": 13,
      "value": "Android Arrow Dropleft"
    },
    {
      "id": 14,
      "value": "Android Arrow Dropleft Circle"
    },
    {
      "id": 15,
      "value": "Android Arrow Dropright"
    },
    {
      "id": 16,
      "value": "Android Arrow Dropright Circle"
    },
    {
      "id": 17,
      "value": "Android Arrow Dropup"
    },
    {
      "id": 18,
      "value": "Android Arrow Dropup Circle"
    },
    {
      "id": 19,
      "value": "Android Arrow Forward"
    },
    {
      "id": 20,
      "value": "Android Arrow Up"
    },
    {
      "id": 21,
      "value": "Android Attach"
    },
    {
      "id": 22,
      "value": "Android Bar"
    },
    {
      "id": 23,
      "value": "Android Bicycle"
    },
    {
      "id": 24,
      "value": "Android Boat"
    },
    {
      "id": 25,
      "value": "Android Bookmark"
    },
    {
      "id": 26,
      "value": "Android Bulb"
    },
    {
      "id": 27,
      "value": "Android Bus"
    },
    {
      "id": 28,
      "value": "Android Calendar"
    },
    {
      "id": 29,
      "value": "Android Call"
    },
    {
      "id": 30,
      "value": "Android Camera"
    },
    {
      "id": 31,
      "value": "Android Cancel"
    },
    {
      "id": 32,
      "value": "Android Car"
    },
    {
      "id": 33,
      "value": "Android Cart"
    },
    {
      "id": 34,
      "value": "Android Chat"
    },
    {
      "id": 35,
      "value": "Android Checkbox"
    },
    {
      "id": 36,
      "value": "Android Checkbox Blank"
    },
    {
      "id": 37,
      "value": "Android Checkbox Outline"
    },
    {
      "id": 38,
      "value": "Android Checkbox Outline Blank"
    },
    {
      "id": 39,
      "value": "Android Checkmark Circle"
    },
    {
      "id": 40,
      "value": "Android Clipboard"
    },
    {
      "id": 41,
      "value": "Android Close"
    },
    {
      "id": 42,
      "value": "Android Cloud"
    },
    {
      "id": 43,
      "value": "Android Cloud Circle"
    },
    {
      "id": 44,
      "value": "Android Cloud Done"
    },
    {
      "id": 45,
      "value": "Android Cloud Outline"
    },
    {
      "id": 46,
      "value": "Android Color Palette"
    },
    {
      "id": 47,
      "value": "Android Compass"
    },
    {
      "id": 48,
      "value": "Android Contact"
    },
    {
      "id": 49,
      "value": "Android Contacts"
    },
    {
      "id": 50,
      "value": "Android Contract"
    },
    {
      "id": 51,
      "value": "Android Create"
    },
    {
      "id": 52,
      "value": "Android Delete"
    },
    {
      "id": 53,
      "value": "Android Desktop"
    },
    {
      "id": 54,
      "value": "Android Document"
    },
    {
      "id": 55,
      "value": "Android Done"
    },
    {
      "id": 56,
      "value": "Android Done All"
    },
    {
      "id": 57,
      "value": "Android Download"
    },
    {
      "id": 58,
      "value": "Android Drafts"
    },
    {
      "id": 59,
      "value": "Android Exit"
    },
    {
      "id": 60,
      "value": "Android Expand"
    },
    {
      "id": 61,
      "value": "Android Favorite"
    },
    {
      "id": 62,
      "value": "Android Favorite Outline"
    },
    {
      "id": 63,
      "value": "Android Film"
    },
    {
      "id": 64,
      "value": "Android Folder"
    },
    {
      "id": 65,
      "value": "Android Folder Open"
    },
    {
      "id": 66,
      "value": "Android Funnel"
    },
    {
      "id": 67,
      "value": "Android Globe"
    },
    {
      "id": 68,
      "value": "Android Hand"
    },
    {
      "id": 69,
      "value": "Android Hangout"
    },
    {
      "id": 70,
      "value": "Android Happy"
    },
    {
      "id": 71,
      "value": "Android Home"
    },
    {
      "id": 72,
      "value": "Android Image"
    },
    {
      "id": 73,
      "value": "Android Laptop"
    },
    {
      "id": 74,
      "value": "Android List"
    },
    {
      "id": 75,
      "value": "Android Locate"
    },
    {
      "id": 76,
      "value": "Android Lock"
    },
    {
      "id": 77,
      "value": "Android Mail"
    },
    {
      "id": 78,
      "value": "Android Map"
    },
    {
      "id": 79,
      "value": "Android Menu"
    },
    {
      "id": 80,
      "value": "Android Microphone"
    },
    {
      "id": 81,
      "value": "Android Microphone Off"
    },
    {
      "id": 82,
      "value": "Android More Horizontal"
    },
    {
      "id": 83,
      "value": "Android More Vertical"
    },
    {
      "id": 84,
      "value": "Android Navigate"
    },
    {
      "id": 85,
      "value": "Android Notifications"
    },
    {
      "id": 86,
      "value": "Android Notifications None"
    },
    {
      "id": 87,
      "value": "Android Notifications Off"
    },
    {
      "id": 88,
      "value": "Android Open"
    },
    {
      "id": 89,
      "value": "Android Options"
    },
    {
      "id": 90,
      "value": "Android People"
    },
    {
      "id": 91,
      "value": "Android Person"
    },
    {
      "id": 92,
      "value": "Android Person Add"
    },
    {
      "id": 93,
      "value": "Android Phone Landscape"
    },
    {
      "id": 94,
      "value": "Android Phone Portrait"
    },
    {
      "id": 95,
      "value": "Android Pin"
    },
    {
      "id": 96,
      "value": "Android Plane"
    },
    {
      "id": 97,
      "value": "Android Playstore"
    },
    {
      "id": 98,
      "value": "Android Print"
    },
    {
      "id": 99,
      "value": "Android Radio Button Off"
    },
    {
      "id": 100,
      "value": "Android Radio Button On"
    },
    {
      "id": 101,
      "value": "Android Refresh"
    },
    {
      "id": 102,
      "value": "Android Remove"
    },
    {
      "id": 103,
      "value": "Android Remove Circle"
    },
    {
      "id": 104,
      "value": "Android Restaurant"
    },
    {
      "id": 105,
      "value": "Android Sad"
    },
    {
      "id": 106,
      "value": "Android Search"
    },
    {
      "id": 107,
      "value": "Android Send"
    },
    {
      "id": 108,
      "value": "Android Settings"
    },
    {
      "id": 109,
      "value": "Android Share"
    },
    {
      "id": 110,
      "value": "Android Share Alt"
    },
    {
      "id": 111,
      "value": "Android Star"
    },
    {
      "id": 112,
      "value": "Android Star Half"
    },
    {
      "id": 113,
      "value": "Android Star Outline"
    },
    {
      "id": 114,
      "value": "Android Stopwatch"
    },
    {
      "id": 115,
      "value": "Android Subway"
    },
    {
      "id": 116,
      "value": "Android Sunny"
    },
    {
      "id": 117,
      "value": "Android Sync"
    },
    {
      "id": 118,
      "value": "Android Textsms"
    },
    {
      "id": 119,
      "value": "Android Time"
    },
    {
      "id": 120,
      "value": "Android Train"
    },
    {
      "id": 121,
      "value": "Android Unlock"
    },
    {
      "id": 122,
      "value": "Android Upload"
    },
    {
      "id": 123,
      "value": "Android Volume Down"
    },
    {
      "id": 124,
      "value": "Android Volume Mute"
    },
    {
      "id": 125,
      "value": "Android Volume Off"
    },
    {
      "id": 126,
      "value": "Android Volume Up"
    },
    {
      "id": 127,
      "value": "Android Walk"
    },
    {
      "id": 128,
      "value": "Android Warning"
    },
    {
      "id": 129,
      "value": "Android Watch"
    },
    {
      "id": 130,
      "value": "Android Wifi"
    },
    {
      "id": 131,
      "value": "Aperture"
    },
    {
      "id": 132,
      "value": "Archive"
    },
    {
      "id": 133,
      "value": "Arrow Down A"
    },
    {
      "id": 134,
      "value": "Arrow Down B"
    },
    {
      "id": 135,
      "value": "Arrow Down C"
    },
    {
      "id": 136,
      "value": "Arrow Expand"
    },
    {
      "id": 137,
      "value": "Arrow Graph Down Left"
    },
    {
      "id": 138,
      "value": "Arrow Graph Down Right"
    },
    {
      "id": 139,
      "value": "Arrow Graph Up Left"
    },
    {
      "id": 140,
      "value": "Arrow Graph Up Right"
    },
    {
      "id": 141,
      "value": "Arrow Left A"
    },
    {
      "id": 142,
      "value": "Arrow Left B"
    },
    {
      "id": 143,
      "value": "Arrow Left C"
    },
    {
      "id": 144,
      "value": "Arrow Move"
    },
    {
      "id": 145,
      "value": "Arrow Resize"
    },
    {
      "id": 146,
      "value": "Arrow Return Left"
    },
    {
      "id": 147,
      "value": "Arrow Return Right"
    },
    {
      "id": 148,
      "value": "Arrow Right A"
    },
    {
      "id": 149,
      "value": "Arrow Right B"
    },
    {
      "id": 150,
      "value": "Arrow Right C"
    },
    {
      "id": 151,
      "value": "Arrow Shrink"
    },
    {
      "id": 152,
      "value": "Arrow Swap"
    },
    {
      "id": 153,
      "value": "Arrow Up A"
    },
    {
      "id": 154,
      "value": "Arrow Up B"
    },
    {
      "id": 155,
      "value": "Arrow Up C"
    },
    {
      "id": 156,
      "value": "Asterisk"
    },
    {
      "id": 157,
      "value": "At"
    },
    {
      "id": 158,
      "value": "Backspace"
    },
    {
      "id": 159,
      "value": "Backspace Outline"
    },
    {
      "id": 160,
      "value": "Bag"
    },
    {
      "id": 161,
      "value": "Battery Charging"
    },
    {
      "id": 162,
      "value": "Battery Empty"
    },
    {
      "id": 163,
      "value": "Battery Full"
    },
    {
      "id": 164,
      "value": "Battery Half"
    },
    {
      "id": 165,
      "value": "Battery Low"
    },
    {
      "id": 166,
      "value": "Beaker"
    },
    {
      "id": 167,
      "value": "Beer"
    },
    {
      "id": 168,
      "value": "Bluetooth"
    },
    {
      "id": 169,
      "value": "Bonfire"
    },
    {
      "id": 170,
      "value": "Bookmark"
    },
    {
      "id": 171,
      "value": "Bowtie"
    },
    {
      "id": 172,
      "value": "Briefcase"
    },
    {
      "id": 173,
      "value": "Bug"
    },
    {
      "id": 174,
      "value": "Calculator"
    },
    {
      "id": 175,
      "value": "Calendar"
    },
    {
      "id": 176,
      "value": "Camera"
    },
    {
      "id": 177,
      "value": "Card"
    },
    {
      "id": 178,
      "value": "Cash"
    },
    {
      "id": 179,
      "value": "Chatbox"
    },
    {
      "id": 180,
      "value": "Chatbox Working"
    },
    {
      "id": 181,
      "value": "Chatboxes"
    },
    {
      "id": 182,
      "value": "Chatbubble"
    },
    {
      "id": 183,
      "value": "Chatbubble Working"
    },
    {
      "id": 184,
      "value": "Chatbubbles"
    },
    {
      "id": 185,
      "value": "Checkmark"
    },
    {
      "id": 186,
      "value": "Checkmark Circled"
    },
    {
      "id": 187,
      "value": "Checkmark Round"
    },
    {
      "id": 188,
      "value": "Chevron Down"
    },
    {
      "id": 189,
      "value": "Chevron Left"
    },
    {
      "id": 190,
      "value": "Chevron Right"
    },
    {
      "id": 191,
      "value": "Chevron Up"
    },
    {
      "id": 192,
      "value": "Clipboard"
    },
    {
      "id": 193,
      "value": "Clock"
    },
    {
      "id": 194,
      "value": "Close"
    },
    {
      "id": 195,
      "value": "Close Circled"
    },
    {
      "id": 196,
      "value": "Close Round"
    },
    {
      "id": 197,
      "value": "Closed Captioning"
    },
    {
      "id": 198,
      "value": "Cloud"
    },
    {
      "id": 199,
      "value": "Code"
    },
    {
      "id": 200,
      "value": "Code Download"
    },
    {
      "id": 201,
      "value": "Code Working"
    },
    {
      "id": 202,
      "value": "Coffee"
    },
    {
      "id": 203,
      "value": "Compass"
    },
    {
      "id": 204,
      "value": "Compose"
    },
    {
      "id": 205,
      "value": "Connection Bars"
    },
    {
      "id": 206,
      "value": "Contrast"
    },
    {
      "id": 207,
      "value": "Crop"
    },
    {
      "id": 208,
      "value": "Cube"
    },
    {
      "id": 209,
      "value": "Disc"
    },
    {
      "id": 210,
      "value": "Document"
    },
    {
      "id": 211,
      "value": "Document Text"
    },
    {
      "id": 212,
      "value": "Drag"
    },
    {
      "id": 213,
      "value": "Earth"
    },
    {
      "id": 214,
      "value": "Easel"
    },
    {
      "id": 215,
      "value": "Edit"
    },
    {
      "id": 216,
      "value": "Egg"
    },
    {
      "id": 217,
      "value": "Eject"
    },
    {
      "id": 218,
      "value": "Email"
    },
    {
      "id": 219,
      "value": "Email Unread"
    },
    {
      "id": 220,
      "value": "Erlenmeyer Flask"
    },
    {
      "id": 221,
      "value": "Erlenmeyer Flask Bubbles"
    },
    {
      "id": 222,
      "value": "Eye"
    },
    {
      "id": 223,
      "value": "Eye Disabled"
    },
    {
      "id": 224,
      "value": "Female"
    },
    {
      "id": 225,
      "value": "Filing"
    },
    {
      "id": 226,
      "value": "Film Marker"
    },
    {
      "id": 227,
      "value": "Fireball"
    },
    {
      "id": 228,
      "value": "Flag"
    },
    {
      "id": 229,
      "value": "Flame"
    },
    {
      "id": 230,
      "value": "Flash"
    },
    {
      "id": 231,
      "value": "Flash Off"
    },
    {
      "id": 232,
      "value": "Folder"
    },
    {
      "id": 233,
      "value": "Fork"
    },
    {
      "id": 234,
      "value": "Fork Repo"
    },
    {
      "id": 235,
      "value": "Forward"
    },
    {
      "id": 236,
      "value": "Funnel"
    },
    {
      "id": 237,
      "value": "Gear A"
    },
    {
      "id": 238,
      "value": "Gear B"
    },
    {
      "id": 239,
      "value": "Grid"
    },
    {
      "id": 240,
      "value": "Hammer"
    },
    {
      "id": 241,
      "value": "Happy"
    },
    {
      "id": 242,
      "value": "Happy Outline"
    },
    {
      "id": 243,
      "value": "Headphone"
    },
    {
      "id": 244,
      "value": "Heart"
    },
    {
      "id": 245,
      "value": "Heart Broken"
    },
    {
      "id": 246,
      "value": "Help"
    },
    {
      "id": 247,
      "value": "Help Buoy"
    },
    {
      "id": 248,
      "value": "Help Circled"
    },
    {
      "id": 249,
      "value": "Home"
    },
    {
      "id": 250,
      "value": "Icecream"
    },
    {
      "id": 251,
      "value": "Image"
    },
    {
      "id": 252,
      "value": "Images"
    },
    {
      "id": 253,
      "value": "Information"
    },
    {
      "id": 254,
      "value": "Information Circled"
    },
    {
      "id": 255,
      "value": "Ionic"
    },
    {
      "id": 256,
      "value": "Ios Alarm"
    },
    {
      "id": 257,
      "value": "Ios Alarm Outline"
    },
    {
      "id": 258,
      "value": "Ios Albums"
    },
    {
      "id": 259,
      "value": "Ios Albums Outline"
    },
    {
      "id": 260,
      "value": "Ios Americanfootball"
    },
    {
      "id": 261,
      "value": "Ios Americanfootball Outline"
    },
    {
      "id": 262,
      "value": "Ios Analytics"
    },
    {
      "id": 263,
      "value": "Ios Analytics Outline"
    },
    {
      "id": 264,
      "value": "Ios Arrow Back"
    },
    {
      "id": 265,
      "value": "Ios Arrow Down"
    },
    {
      "id": 266,
      "value": "Ios Arrow Forward"
    },
    {
      "id": 267,
      "value": "Ios Arrow Left"
    },
    {
      "id": 268,
      "value": "Ios Arrow Right"
    },
    {
      "id": 269,
      "value": "Ios Arrow Thin Down"
    },
    {
      "id": 270,
      "value": "Ios Arrow Thin Left"
    },
    {
      "id": 271,
      "value": "Ios Arrow Thin Right"
    },
    {
      "id": 272,
      "value": "Ios Arrow Thin Up"
    },
    {
      "id": 273,
      "value": "Ios Arrow Up"
    },
    {
      "id": 274,
      "value": "Ios At"
    },
    {
      "id": 275,
      "value": "Ios At Outline"
    },
    {
      "id": 276,
      "value": "Ios Barcode"
    },
    {
      "id": 277,
      "value": "Ios Barcode Outline"
    },
    {
      "id": 278,
      "value": "Ios Baseball"
    },
    {
      "id": 279,
      "value": "Ios Baseball Outline"
    },
    {
      "id": 280,
      "value": "Ios Basketball"
    },
    {
      "id": 281,
      "value": "Ios Basketball Outline"
    },
    {
      "id": 282,
      "value": "Ios Bell"
    },
    {
      "id": 283,
      "value": "Ios Bell Outline"
    },
    {
      "id": 284,
      "value": "Ios Body"
    },
    {
      "id": 285,
      "value": "Ios Body Outline"
    },
    {
      "id": 286,
      "value": "Ios Bolt"
    },
    {
      "id": 287,
      "value": "Ios Bolt Outline"
    },
    {
      "id": 288,
      "value": "Ios Book"
    },
    {
      "id": 289,
      "value": "Ios Book Outline"
    },
    {
      "id": 290,
      "value": "Ios Bookmarks"
    },
    {
      "id": 291,
      "value": "Ios Bookmarks Outline"
    },
    {
      "id": 292,
      "value": "Ios Box"
    },
    {
      "id": 293,
      "value": "Ios Box Outline"
    },
    {
      "id": 294,
      "value": "Ios Briefcase"
    },
    {
      "id": 295,
      "value": "Ios Briefcase Outline"
    },
    {
      "id": 296,
      "value": "Ios Browsers"
    },
    {
      "id": 297,
      "value": "Ios Browsers Outline"
    },
    {
      "id": 298,
      "value": "Ios Calculator"
    },
    {
      "id": 299,
      "value": "Ios Calculator Outline"
    },
    {
      "id": 300,
      "value": "Ios Calendar"
    },
    {
      "id": 301,
      "value": "Ios Calendar Outline"
    },
    {
      "id": 302,
      "value": "Ios Camera"
    },
    {
      "id": 303,
      "value": "Ios Camera Outline"
    },
    {
      "id": 304,
      "value": "Ios Cart"
    },
    {
      "id": 305,
      "value": "Ios Cart Outline"
    },
    {
      "id": 306,
      "value": "Ios Chatboxes"
    },
    {
      "id": 307,
      "value": "Ios Chatboxes Outline"
    },
    {
      "id": 308,
      "value": "Ios Chatbubble"
    },
    {
      "id": 309,
      "value": "Ios Chatbubble Outline"
    },
    {
      "id": 310,
      "value": "Ios Checkmark"
    },
    {
      "id": 311,
      "value": "Ios Checkmark Empty"
    },
    {
      "id": 312,
      "value": "Ios Checkmark Outline"
    },
    {
      "id": 313,
      "value": "Ios Circle Filled"
    },
    {
      "id": 314,
      "value": "Ios Circle Outline"
    },
    {
      "id": 315,
      "value": "Ios Clock"
    },
    {
      "id": 316,
      "value": "Ios Clock Outline"
    },
    {
      "id": 317,
      "value": "Ios Close"
    },
    {
      "id": 318,
      "value": "Ios Close Empty"
    },
    {
      "id": 319,
      "value": "Ios Close Outline"
    },
    {
      "id": 320,
      "value": "Ios Cloud"
    },
    {
      "id": 321,
      "value": "Ios Cloud Download"
    },
    {
      "id": 322,
      "value": "Ios Cloud Download Outline"
    },
    {
      "id": 323,
      "value": "Ios Cloud Outline"
    },
    {
      "id": 324,
      "value": "Ios Cloud Upload"
    },
    {
      "id": 325,
      "value": "Ios Cloud Upload Outline"
    },
    {
      "id": 326,
      "value": "Ios Cloudy"
    },
    {
      "id": 327,
      "value": "Ios Cloudy Night"
    },
    {
      "id": 328,
      "value": "Ios Cloudy Night Outline"
    },
    {
      "id": 329,
      "value": "Ios Cloudy Outline"
    },
    {
      "id": 330,
      "value": "Ios Cog"
    },
    {
      "id": 331,
      "value": "Ios Cog Outline"
    },
    {
      "id": 332,
      "value": "Ios Color Filter"
    },
    {
      "id": 333,
      "value": "Ios Color Filter Outline"
    },
    {
      "id": 334,
      "value": "Ios Color Wand"
    },
    {
      "id": 335,
      "value": "Ios Color Wand Outline"
    },
    {
      "id": 336,
      "value": "Ios Compose"
    },
    {
      "id": 337,
      "value": "Ios Compose Outline"
    },
    {
      "id": 338,
      "value": "Ios Contact"
    },
    {
      "id": 339,
      "value": "Ios Contact Outline"
    },
    {
      "id": 340,
      "value": "Ios Copy"
    },
    {
      "id": 341,
      "value": "Ios Copy Outline"
    },
    {
      "id": 342,
      "value": "Ios Crop"
    },
    {
      "id": 343,
      "value": "Ios Crop Strong"
    },
    {
      "id": 344,
      "value": "Ios Download"
    },
    {
      "id": 345,
      "value": "Ios Download Outline"
    },
    {
      "id": 346,
      "value": "Ios Drag"
    },
    {
      "id": 347,
      "value": "Ios Email"
    },
    {
      "id": 348,
      "value": "Ios Email Outline"
    },
    {
      "id": 349,
      "value": "Ios Eye"
    },
    {
      "id": 350,
      "value": "Ios Eye Outline"
    },
    {
      "id": 351,
      "value": "Ios Fastforward"
    },
    {
      "id": 352,
      "value": "Ios Fastforward Outline"
    },
    {
      "id": 353,
      "value": "Ios Filing"
    },
    {
      "id": 354,
      "value": "Ios Filing Outline"
    },
    {
      "id": 355,
      "value": "Ios Film"
    },
    {
      "id": 356,
      "value": "Ios Film Outline"
    },
    {
      "id": 357,
      "value": "Ios Flag"
    },
    {
      "id": 358,
      "value": "Ios Flag Outline"
    },
    {
      "id": 359,
      "value": "Ios Flame"
    },
    {
      "id": 360,
      "value": "Ios Flame Outline"
    },
    {
      "id": 361,
      "value": "Ios Flask"
    },
    {
      "id": 362,
      "value": "Ios Flask Outline"
    },
    {
      "id": 363,
      "value": "Ios Flower"
    },
    {
      "id": 364,
      "value": "Ios Flower Outline"
    },
    {
      "id": 365,
      "value": "Ios Folder"
    },
    {
      "id": 366,
      "value": "Ios Folder Outline"
    },
    {
      "id": 367,
      "value": "Ios Football"
    },
    {
      "id": 368,
      "value": "Ios Football Outline"
    },
    {
      "id": 369,
      "value": "Ios Game Controller A"
    },
    {
      "id": 370,
      "value": "Ios Game Controller A Outline"
    },
    {
      "id": 371,
      "value": "Ios Game Controller B"
    },
    {
      "id": 372,
      "value": "Ios Game Controller B Outline"
    },
    {
      "id": 373,
      "value": "Ios Gear"
    },
    {
      "id": 374,
      "value": "Ios Gear Outline"
    },
    {
      "id": 375,
      "value": "Ios Glasses"
    },
    {
      "id": 376,
      "value": "Ios Glasses Outline"
    },
    {
      "id": 377,
      "value": "Ios Grid View"
    },
    {
      "id": 378,
      "value": "Ios Grid View Outline"
    },
    {
      "id": 379,
      "value": "Ios Heart"
    },
    {
      "id": 380,
      "value": "Ios Heart Outline"
    },
    {
      "id": 381,
      "value": "Ios Help"
    },
    {
      "id": 382,
      "value": "Ios Help Empty"
    },
    {
      "id": 383,
      "value": "Ios Help Outline"
    },
    {
      "id": 384,
      "value": "Ios Home"
    },
    {
      "id": 385,
      "value": "Ios Home Outline"
    },
    {
      "id": 386,
      "value": "Ios Infinite"
    },
    {
      "id": 387,
      "value": "Ios Infinite Outline"
    },
    {
      "id": 388,
      "value": "Ios Information"
    },
    {
      "id": 389,
      "value": "Ios Information Empty"
    },
    {
      "id": 390,
      "value": "Ios Information Outline"
    },
    {
      "id": 391,
      "value": "Ios Ionic Outline"
    },
    {
      "id": 392,
      "value": "Ios Keypad"
    },
    {
      "id": 393,
      "value": "Ios Keypad Outline"
    },
    {
      "id": 394,
      "value": "Ios Lightbulb"
    },
    {
      "id": 395,
      "value": "Ios Lightbulb Outline"
    },
    {
      "id": 396,
      "value": "Ios List"
    },
    {
      "id": 397,
      "value": "Ios List Outline"
    },
    {
      "id": 398,
      "value": "Ios Location"
    },
    {
      "id": 399,
      "value": "Ios Location Outline"
    },
    {
      "id": 400,
      "value": "Ios Locked"
    },
    {
      "id": 401,
      "value": "Ios Locked Outline"
    },
    {
      "id": 402,
      "value": "Ios Loop"
    },
    {
      "id": 403,
      "value": "Ios Loop Strong"
    },
    {
      "id": 404,
      "value": "Ios Medical"
    },
    {
      "id": 405,
      "value": "Ios Medical Outline"
    },
    {
      "id": 406,
      "value": "Ios Medkit"
    },
    {
      "id": 407,
      "value": "Ios Medkit Outline"
    },
    {
      "id": 408,
      "value": "Ios Mic"
    },
    {
      "id": 409,
      "value": "Ios Mic Off"
    },
    {
      "id": 410,
      "value": "Ios Mic Outline"
    },
    {
      "id": 411,
      "value": "Ios Minus"
    },
    {
      "id": 412,
      "value": "Ios Minus Empty"
    },
    {
      "id": 413,
      "value": "Ios Minus Outline"
    },
    {
      "id": 414,
      "value": "Ios Monitor"
    },
    {
      "id": 415,
      "value": "Ios Monitor Outline"
    },
    {
      "id": 416,
      "value": "Ios Moon"
    },
    {
      "id": 417,
      "value": "Ios Moon Outline"
    },
    {
      "id": 418,
      "value": "Ios More"
    },
    {
      "id": 419,
      "value": "Ios More Outline"
    },
    {
      "id": 420,
      "value": "Ios Musical Note"
    },
    {
      "id": 421,
      "value": "Ios Musical Notes"
    },
    {
      "id": 422,
      "value": "Ios Navigate"
    },
    {
      "id": 423,
      "value": "Ios Navigate Outline"
    },
    {
      "id": 424,
      "value": "Ios Nutrition"
    },
    {
      "id": 425,
      "value": "Ios Nutrition Outline"
    },
    {
      "id": 426,
      "value": "Ios Paper"
    },
    {
      "id": 427,
      "value": "Ios Paper Outline"
    },
    {
      "id": 428,
      "value": "Ios Paperplane"
    },
    {
      "id": 429,
      "value": "Ios Paperplane Outline"
    },
    {
      "id": 430,
      "value": "Ios Partlysunny"
    },
    {
      "id": 431,
      "value": "Ios Partlysunny Outline"
    },
    {
      "id": 432,
      "value": "Ios Pause"
    },
    {
      "id": 433,
      "value": "Ios Pause Outline"
    },
    {
      "id": 434,
      "value": "Ios Paw"
    },
    {
      "id": 435,
      "value": "Ios Paw Outline"
    },
    {
      "id": 436,
      "value": "Ios People"
    },
    {
      "id": 437,
      "value": "Ios People Outline"
    },
    {
      "id": 438,
      "value": "Ios Person"
    },
    {
      "id": 439,
      "value": "Ios Person Outline"
    },
    {
      "id": 440,
      "value": "Ios Personadd"
    },
    {
      "id": 441,
      "value": "Ios Personadd Outline"
    },
    {
      "id": 442,
      "value": "Ios Photos"
    },
    {
      "id": 443,
      "value": "Ios Photos Outline"
    },
    {
      "id": 444,
      "value": "Ios Pie"
    },
    {
      "id": 445,
      "value": "Ios Pie Outline"
    },
    {
      "id": 446,
      "value": "Ios Pint"
    },
    {
      "id": 447,
      "value": "Ios Pint Outline"
    },
    {
      "id": 448,
      "value": "Ios Play"
    },
    {
      "id": 449,
      "value": "Ios Play Outline"
    },
    {
      "id": 450,
      "value": "Ios Plus"
    },
    {
      "id": 451,
      "value": "Ios Plus Empty"
    },
    {
      "id": 452,
      "value": "Ios Plus Outline"
    },
    {
      "id": 453,
      "value": "Ios Pricetag"
    },
    {
      "id": 454,
      "value": "Ios Pricetag Outline"
    },
    {
      "id": 455,
      "value": "Ios Pricetags"
    },
    {
      "id": 456,
      "value": "Ios Pricetags Outline"
    },
    {
      "id": 457,
      "value": "Ios Printer"
    },
    {
      "id": 458,
      "value": "Ios Printer Outline"
    },
    {
      "id": 459,
      "value": "Ios Pulse"
    },
    {
      "id": 460,
      "value": "Ios Pulse Strong"
    },
    {
      "id": 461,
      "value": "Ios Rainy"
    },
    {
      "id": 462,
      "value": "Ios Rainy Outline"
    },
    {
      "id": 463,
      "value": "Ios Recording"
    },
    {
      "id": 464,
      "value": "Ios Recording Outline"
    },
    {
      "id": 465,
      "value": "Ios Redo"
    },
    {
      "id": 466,
      "value": "Ios Redo Outline"
    },
    {
      "id": 467,
      "value": "Ios Refresh"
    },
    {
      "id": 468,
      "value": "Ios Refresh Empty"
    },
    {
      "id": 469,
      "value": "Ios Refresh Outline"
    },
    {
      "id": 470,
      "value": "Ios Reload"
    },
    {
      "id": 471,
      "value": "Ios Reverse Camera"
    },
    {
      "id": 472,
      "value": "Ios Reverse Camera Outline"
    },
    {
      "id": 473,
      "value": "Ios Rewind"
    },
    {
      "id": 474,
      "value": "Ios Rewind Outline"
    },
    {
      "id": 475,
      "value": "Ios Rose"
    },
    {
      "id": 476,
      "value": "Ios Rose Outline"
    },
    {
      "id": 477,
      "value": "Ios Search"
    },
    {
      "id": 478,
      "value": "Ios Search Strong"
    },
    {
      "id": 479,
      "value": "Ios Settings"
    },
    {
      "id": 480,
      "value": "Ios Settings Strong"
    },
    {
      "id": 481,
      "value": "Ios Shuffle"
    },
    {
      "id": 482,
      "value": "Ios Shuffle Strong"
    },
    {
      "id": 483,
      "value": "Ios Skipbackward"
    },
    {
      "id": 484,
      "value": "Ios Skipbackward Outline"
    },
    {
      "id": 485,
      "value": "Ios Skipforward"
    },
    {
      "id": 486,
      "value": "Ios Skipforward Outline"
    },
    {
      "id": 487,
      "value": "Ios Snowy"
    },
    {
      "id": 488,
      "value": "Ios Speedometer"
    },
    {
      "id": 489,
      "value": "Ios Speedometer Outline"
    },
    {
      "id": 490,
      "value": "Ios Star"
    },
    {
      "id": 491,
      "value": "Ios Star Half"
    },
    {
      "id": 492,
      "value": "Ios Star Outline"
    },
    {
      "id": 493,
      "value": "Ios Stopwatch"
    },
    {
      "id": 494,
      "value": "Ios Stopwatch Outline"
    },
    {
      "id": 495,
      "value": "Ios Sunny"
    },
    {
      "id": 496,
      "value": "Ios Sunny Outline"
    },
    {
      "id": 497,
      "value": "Ios Telephone"
    },
    {
      "id": 498,
      "value": "Ios Telephone Outline"
    },
    {
      "id": 499,
      "value": "Ios Tennisball"
    },
    {
      "id": 500,
      "value": "Ios Tennisball Outline"
    },
    {
      "id": 501,
      "value": "Ios Thunderstorm"
    },
    {
      "id": 502,
      "value": "Ios Thunderstorm Outline"
    },
    {
      "id": 503,
      "value": "Ios Time"
    },
    {
      "id": 504,
      "value": "Ios Time Outline"
    },
    {
      "id": 505,
      "value": "Ios Timer"
    },
    {
      "id": 506,
      "value": "Ios Timer Outline"
    },
    {
      "id": 507,
      "value": "Ios Toggle"
    },
    {
      "id": 508,
      "value": "Ios Toggle Outline"
    },
    {
      "id": 509,
      "value": "Ios Trash"
    },
    {
      "id": 510,
      "value": "Ios Trash Outline"
    },
    {
      "id": 511,
      "value": "Ios Undo"
    },
    {
      "id": 512,
      "value": "Ios Undo Outline"
    },
    {
      "id": 513,
      "value": "Ios Unlocked"
    },
    {
      "id": 514,
      "value": "Ios Unlocked Outline"
    },
    {
      "id": 515,
      "value": "Ios Upload"
    },
    {
      "id": 516,
      "value": "Ios Upload Outline"
    },
    {
      "id": 517,
      "value": "Ios Videocam"
    },
    {
      "id": 518,
      "value": "Ios Videocam Outline"
    },
    {
      "id": 519,
      "value": "Ios Volume High"
    },
    {
      "id": 520,
      "value": "Ios Volume Low"
    },
    {
      "id": 521,
      "value": "Ios Wineglass"
    },
    {
      "id": 522,
      "value": "Ios Wineglass Outline"
    },
    {
      "id": 523,
      "value": "Ios World"
    },
    {
      "id": 524,
      "value": "Ios World Outline"
    },
    {
      "id": 525,
      "value": "Ipad"
    },
    {
      "id": 526,
      "value": "Iphone"
    },
    {
      "id": 527,
      "value": "Ipod"
    },
    {
      "id": 528,
      "value": "Jet"
    },
    {
      "id": 529,
      "value": "Key"
    },
    {
      "id": 530,
      "value": "Knife"
    },
    {
      "id": 531,
      "value": "Laptop"
    },
    {
      "id": 532,
      "value": "Leaf"
    },
    {
      "id": 533,
      "value": "Levels"
    },
    {
      "id": 534,
      "value": "Lightbulb"
    },
    {
      "id": 535,
      "value": "Link"
    },
    {
      "id": 536,
      "value": "Load A"
    },
    {
      "id": 537,
      "value": "Load B"
    },
    {
      "id": 538,
      "value": "Load C"
    },
    {
      "id": 539,
      "value": "Load D"
    },
    {
      "id": 540,
      "value": "Location"
    },
    {
      "id": 541,
      "value": "Lock Combination"
    },
    {
      "id": 542,
      "value": "Locked"
    },
    {
      "id": 543,
      "value": "Log In"
    },
    {
      "id": 544,
      "value": "Log Out"
    },
    {
      "id": 545,
      "value": "Loop"
    },
    {
      "id": 546,
      "value": "Magnet"
    },
    {
      "id": 547,
      "value": "Male"
    },
    {
      "id": 548,
      "value": "Man"
    },
    {
      "id": 549,
      "value": "Map"
    },
    {
      "id": 550,
      "value": "Medkit"
    },
    {
      "id": 551,
      "value": "Merge"
    },
    {
      "id": 552,
      "value": "Mic A"
    },
    {
      "id": 553,
      "value": "Mic B"
    },
    {
      "id": 554,
      "value": "Mic C"
    },
    {
      "id": 555,
      "value": "Minus"
    },
    {
      "id": 556,
      "value": "Minus Circled"
    },
    {
      "id": 557,
      "value": "Minus Round"
    },
    {
      "id": 558,
      "value": "Model S"
    },
    {
      "id": 559,
      "value": "Monitor"
    },
    {
      "id": 560,
      "value": "More"
    },
    {
      "id": 561,
      "value": "Mouse"
    },
    {
      "id": 562,
      "value": "Music Note"
    },
    {
      "id": 563,
      "value": "Navicon"
    },
    {
      "id": 564,
      "value": "Navicon Round"
    },
    {
      "id": 565,
      "value": "Navigate"
    },
    {
      "id": 566,
      "value": "Network"
    },
    {
      "id": 567,
      "value": "No Smoking"
    },
    {
      "id": 568,
      "value": "Nuclear"
    },
    {
      "id": 569,
      "value": "Outlet"
    },
    {
      "id": 570,
      "value": "Paintbrush"
    },
    {
      "id": 571,
      "value": "Paintbucket"
    },
    {
      "id": 572,
      "value": "Paper Airplane"
    },
    {
      "id": 573,
      "value": "Paperclip"
    },
    {
      "id": 574,
      "value": "Pause"
    },
    {
      "id": 575,
      "value": "Person"
    },
    {
      "id": 576,
      "value": "Person Add"
    },
    {
      "id": 577,
      "value": "Person Stalker"
    },
    {
      "id": 578,
      "value": "Pie Graph"
    },
    {
      "id": 579,
      "value": "Pin"
    },
    {
      "id": 580,
      "value": "Pinpoint"
    },
    {
      "id": 581,
      "value": "Pizza"
    },
    {
      "id": 582,
      "value": "Plane"
    },
    {
      "id": 583,
      "value": "Planet"
    },
    {
      "id": 584,
      "value": "Play"
    },
    {
      "id": 585,
      "value": "Playstation"
    },
    {
      "id": 586,
      "value": "Plus"
    },
    {
      "id": 587,
      "value": "Plus Circled"
    },
    {
      "id": 588,
      "value": "Plus Round"
    },
    {
      "id": 589,
      "value": "Podium"
    },
    {
      "id": 590,
      "value": "Pound"
    },
    {
      "id": 591,
      "value": "Power"
    },
    {
      "id": 592,
      "value": "Pricetag"
    },
    {
      "id": 593,
      "value": "Pricetags"
    },
    {
      "id": 594,
      "value": "Printer"
    },
    {
      "id": 595,
      "value": "Pull Request"
    },
    {
      "id": 596,
      "value": "Qr Scanner"
    },
    {
      "id": 597,
      "value": "Quote"
    },
    {
      "id": 598,
      "value": "Radio Waves"
    },
    {
      "id": 599,
      "value": "Record"
    },
    {
      "id": 600,
      "value": "Refresh"
    },
    {
      "id": 601,
      "value": "Reply"
    },
    {
      "id": 602,
      "value": "Reply All"
    },
    {
      "id": 603,
      "value": "Ribbon A"
    },
    {
      "id": 604,
      "value": "Ribbon B"
    },
    {
      "id": 605,
      "value": "Sad"
    },
    {
      "id": 606,
      "value": "Sad Outline"
    },
    {
      "id": 607,
      "value": "Scissors"
    },
    {
      "id": 608,
      "value": "Search"
    },
    {
      "id": 609,
      "value": "Settings"
    },
    {
      "id": 610,
      "value": "Share"
    },
    {
      "id": 611,
      "value": "Shuffle"
    },
    {
      "id": 612,
      "value": "Skip Backward"
    },
    {
      "id": 613,
      "value": "Skip Forward"
    },
    {
      "id": 614,
      "value": "Social Android"
    },
    {
      "id": 615,
      "value": "Social Android Outline"
    },
    {
      "id": 616,
      "value": "Social Angular"
    },
    {
      "id": 617,
      "value": "Social Angular Outline"
    },
    {
      "id": 618,
      "value": "Social Apple"
    },
    {
      "id": 619,
      "value": "Social Apple Outline"
    },
    {
      "id": 620,
      "value": "Social Bitcoin"
    },
    {
      "id": 621,
      "value": "Social Bitcoin Outline"
    },
    {
      "id": 622,
      "value": "Social Buffer"
    },
    {
      "id": 623,
      "value": "Social Buffer Outline"
    },
    {
      "id": 624,
      "value": "Social Chrome"
    },
    {
      "id": 625,
      "value": "Social Chrome Outline"
    },
    {
      "id": 626,
      "value": "Social Codepen"
    },
    {
      "id": 627,
      "value": "Social Codepen Outline"
    },
    {
      "id": 628,
      "value": "Social Css3"
    },
    {
      "id": 629,
      "value": "Social Css3 Outline"
    },
    {
      "id": 630,
      "value": "Social Designernews"
    },
    {
      "id": 631,
      "value": "Social Designernews Outline"
    },
    {
      "id": 632,
      "value": "Social Dribbble"
    },
    {
      "id": 633,
      "value": "Social Dribbble Outline"
    },
    {
      "id": 634,
      "value": "Social Dropbox"
    },
    {
      "id": 635,
      "value": "Social Dropbox Outline"
    },
    {
      "id": 636,
      "value": "Social Euro"
    },
    {
      "id": 637,
      "value": "Social Euro Outline"
    },
    {
      "id": 638,
      "value": "Social Facebook"
    },
    {
      "id": 639,
      "value": "Social Facebook Outline"
    },
    {
      "id": 640,
      "value": "Social Foursquare"
    },
    {
      "id": 641,
      "value": "Social Foursquare Outline"
    },
    {
      "id": 642,
      "value": "Social Freebsd Devil"
    },
    {
      "id": 643,
      "value": "Social Github"
    },
    {
      "id": 644,
      "value": "Social Github Outline"
    },
    {
      "id": 645,
      "value": "Social Google"
    },
    {
      "id": 646,
      "value": "Social Google Outline"
    },
    {
      "id": 647,
      "value": "Social Googleplus"
    },
    {
      "id": 648,
      "value": "Social Googleplus Outline"
    },
    {
      "id": 649,
      "value": "Social Hackernews"
    },
    {
      "id": 650,
      "value": "Social Hackernews Outline"
    },
    {
      "id": 651,
      "value": "Social Html5"
    },
    {
      "id": 652,
      "value": "Social Html5 Outline"
    },
    {
      "id": 653,
      "value": "Social Instagram"
    },
    {
      "id": 654,
      "value": "Social Instagram Outline"
    },
    {
      "id": 655,
      "value": "Social Javascript"
    },
    {
      "id": 656,
      "value": "Social Javascript Outline"
    },
    {
      "id": 657,
      "value": "Social Linkedin"
    },
    {
      "id": 658,
      "value": "Social Linkedin Outline"
    },
    {
      "id": 659,
      "value": "Social Markdown"
    },
    {
      "id": 660,
      "value": "Social Nodejs"
    },
    {
      "id": 661,
      "value": "Social Octocat"
    },
    {
      "id": 662,
      "value": "Social Pinterest"
    },
    {
      "id": 663,
      "value": "Social Pinterest Outline"
    },
    {
      "id": 664,
      "value": "Social Python"
    },
    {
      "id": 665,
      "value": "Social Reddit"
    },
    {
      "id": 666,
      "value": "Social Reddit Outline"
    },
    {
      "id": 667,
      "value": "Social Rss"
    },
    {
      "id": 668,
      "value": "Social Rss Outline"
    },
    {
      "id": 669,
      "value": "Social Sass"
    },
    {
      "id": 670,
      "value": "Social Skype"
    },
    {
      "id": 671,
      "value": "Social Skype Outline"
    },
    {
      "id": 672,
      "value": "Social Snapchat"
    },
    {
      "id": 673,
      "value": "Social Snapchat Outline"
    },
    {
      "id": 674,
      "value": "Social Tumblr"
    },
    {
      "id": 675,
      "value": "Social Tumblr Outline"
    },
    {
      "id": 676,
      "value": "Social Tux"
    },
    {
      "id": 677,
      "value": "Social Twitch"
    },
    {
      "id": 678,
      "value": "Social Twitch Outline"
    },
    {
      "id": 679,
      "value": "Social Twitter"
    },
    {
      "id": 680,
      "value": "Social Twitter Outline"
    },
    {
      "id": 681,
      "value": "Social Usd"
    },
    {
      "id": 682,
      "value": "Social Usd Outline"
    },
    {
      "id": 683,
      "value": "Social Vimeo"
    },
    {
      "id": 684,
      "value": "Social Vimeo Outline"
    },
    {
      "id": 685,
      "value": "Social Whatsapp"
    },
    {
      "id": 686,
      "value": "Social Whatsapp Outline"
    },
    {
      "id": 687,
      "value": "Social Windows"
    },
    {
      "id": 688,
      "value": "Social Windows Outline"
    },
    {
      "id": 689,
      "value": "Social Wordpress"
    },
    {
      "id": 690,
      "value": "Social Wordpress Outline"
    },
    {
      "id": 691,
      "value": "Social Yahoo"
    },
    {
      "id": 692,
      "value": "Social Yahoo Outline"
    },
    {
      "id": 693,
      "value": "Social Yen"
    },
    {
      "id": 694,
      "value": "Social Yen Outline"
    },
    {
      "id": 695,
      "value": "Social Youtube"
    },
    {
      "id": 696,
      "value": "Social Youtube Outline"
    },
    {
      "id": 697,
      "value": "Soup Can"
    },
    {
      "id": 698,
      "value": "Soup Can Outline"
    },
    {
      "id": 699,
      "value": "Speakerphone"
    },
    {
      "id": 700,
      "value": "Speedometer"
    },
    {
      "id": 701,
      "value": "Spoon"
    },
    {
      "id": 702,
      "value": "Star"
    },
    {
      "id": 703,
      "value": "Stats Bars"
    },
    {
      "id": 704,
      "value": "Steam"
    },
    {
      "id": 705,
      "value": "Stop"
    },
    {
      "id": 706,
      "value": "Thermometer"
    },
    {
      "id": 707,
      "value": "Thumbsdown"
    },
    {
      "id": 708,
      "value": "Thumbsup"
    },
    {
      "id": 709,
      "value": "Toggle"
    },
    {
      "id": 710,
      "value": "Toggle Filled"
    },
    {
      "id": 711,
      "value": "Transgender"
    },
    {
      "id": 712,
      "value": "Trash A"
    },
    {
      "id": 713,
      "value": "Trash B"
    },
    {
      "id": 714,
      "value": "Trophy"
    },
    {
      "id": 715,
      "value": "Tshirt"
    },
    {
      "id": 716,
      "value": "Tshirt Outline"
    },
    {
      "id": 717,
      "value": "Umbrella"
    },
    {
      "id": 718,
      "value": "University"
    },
    {
      "id": 719,
      "value": "Unlocked"
    },
    {
      "id": 720,
      "value": "Upload"
    },
    {
      "id": 721,
      "value": "Usb"
    },
    {
      "id": 722,
      "value": "Videocamera"
    },
    {
      "id": 723,
      "value": "Volume High"
    },
    {
      "id": 724,
      "value": "Volume Low"
    },
    {
      "id": 725,
      "value": "Volume Medium"
    },
    {
      "id": 726,
      "value": "Volume Mute"
    },
    {
      "id": 727,
      "value": "Wand"
    },
    {
      "id": 728,
      "value": "Waterdrop"
    },
    {
      "id": 729,
      "value": "Wifi"
    },
    {
      "id": 730,
      "value": "Wineglass"
    },
    {
      "id": 731,
      "value": "Woman"
    },
    {
      "id": 732,
      "value": "Wrench"
    },
    {
      "id": 733,
      "value": "Xbox"
    }
  ]
}]]></Config>
</DataType>