<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7959b4a5-edb4-4ce0-9e32-358e1153a9a5" Alias="[Dropdown] Job Titles" Level="1">
  <Info>
    <Name>[Dropdown] Job Titles</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Web Developer"
    },
    {
      "id": 2,
      "value": "Designer"
    },
    {
      "id": 3,
      "value": "Project Manager"
    }
  ]
}]]></Config>
</DataType>