<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35f0aaf1-396f-4402-a9b0-ada9a64ff2ea" Alias="[MULTIURLPICKER] Single Url Picker" Level="1">
  <Info>
    <Name>[MULTIURLPICKER] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": null,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>