<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3261c609-94a2-4781-879f-13d3a1b173d9" Alias="[NESTED] History" Level="1">
  <Info>
    <Name>[NESTED] History</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "historyItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}} - {{placeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>