<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69dbb677-3786-4d18-b081-adb9ddf48381" Alias="[NESTED] Icon List" Level="1">
  <Info>
    <Name>[NESTED] Icon List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{link[0].name}}"
    },
    {
      "ncAlias": "iconTextItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>