<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7d133e0-8b59-422c-bd64-9663a960f10b" Alias="[RadioButtonList] Colours" Level="1">
  <Info>
    <Name>[RadioButtonList] Colours</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Orange"
    },
    {
      "id": 3,
      "value": "Yellow"
    },
    {
      "id": 4,
      "value": "Green"
    },
    {
      "id": 5,
      "value": "Blue"
    },
    {
      "id": 6,
      "value": "Indigo"
    },
    {
      "id": 7,
      "value": "Violet"
    }
  ]
}]]></Config>
</DataType>