<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8af40799-3ce9-4153-b405-6e39dc9b2130" Alias="[RTE] Simple" Level="1">
  <Info>
    <Name>[RTE] Simple</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "bullist",
      "numlist"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": null,
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>