<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41f047db-7b55-420c-a448-81b55fb25b7b" Alias="[Textbox] Meta Title" Level="1">
  <Info>
    <Name>[Textbox] Meta Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>