<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5374539-c298-4f58-9bb3-38c2131bd20d" Alias="[Textarea] Meta Description" Level="1">
  <Info>
    <Name>[Textarea] Meta Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160,
  "Rows": 4
}]]></Config>
</DataType>