<?xml version="1.0" encoding="utf-8"?>
<Content Key="df0e56c1-2d5c-4854-bd99-049123433b4b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="4ce87a31-6300-453f-a818-4b27f5a8db12">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa9f6cfd-62b3-4e57-944d-b7631e7c9313">Contact</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <errorMessage>
      <Value><![CDATA[<p>There was an error with the form. Please try again later.</p>]]></Value>
    </errorMessage>
    <metaDescription>
      <Value><![CDATA[This is the contact page so people can get in touch with me]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Contact | Portfolio]]></Value>
    </metaTitle>
    <thankYouMessage>
      <Value><![CDATA[<p>Thank you for submitting your contact form. I will be in touch with you soon.</p>]]></Value>
    </thankYouMessage>
    <title>
      <Value><![CDATA[Contact Me]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>