<?xml version="1.0" encoding="utf-8"?>
<Content Key="d66675fe-a1f0-4127-9a83-2dade3d4c607" Alias="CV" Level="2">
  <Info>
    <Parent Key="4ce87a31-6300-453f-a818-4b27f5a8db12">Home</Parent>
    <Path>/Home/CV</Path>
    <Trashed>false</Trashed>
    <ContentType>cV</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="CV" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2823facf-c328-4ea5-82b2-cea637fc8295">CV</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contactInfo>
      <Value><![CDATA[[
  {
    "key": "5b0c2001-dd4e-4ba1-bf96-a4e54d2c320a",
    "name": "10/10/1990",
    "ncContentTypeAlias": "iconTextItem",
    "PropType": null,
    "icon": [
      "Android Calendar"
    ],
    "text": "10/10/1990"
  },
  {
    "key": "94b60584-277f-4927-8a8d-b51c5ac19b28",
    "name": "Jane Doe",
    "ncContentTypeAlias": "iconTextItem",
    "PropType": null,
    "icon": [
      "Person"
    ],
    "text": "Jane Doe"
  },
  {
    "key": "8649ec27-6993-49de-946c-e72049165434",
    "name": "+235 3217 424",
    "ncContentTypeAlias": "iconTextItem",
    "PropType": null,
    "icon": [
      "Ios Telephone"
    ],
    "text": "+235 3217 424"
  },
  {
    "key": "e3bd48c4-bc01-4fa2-b3ca-ae0132c0c1ee",
    "name": "mailto:lorem@email.com",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Email"
    ],
    "link": [
      {
        "name": "mailto:lorem@email.com",
        "url": "mailto:lorem@email.com"
      }
    ]
  }
]]]></Value>
    </contactInfo>
    <contactInfoTitle>
      <Value><![CDATA[Contact Info]]></Value>
    </contactInfoTitle>
    <educationHistory>
      <Value><![CDATA[[
  {
    "key": "2a3ea517-f605-4d56-add8-4a4a013f735e",
    "name": "Computer Science - Stephen Hawking College",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "Computer Science",
    "placeName": "Stephen Hawking College",
    "details": "<p>College was where I found my love for computer programming and I haven't looked back since.</p>",
    "startDate": "2010-09-01T00:00:00",
    "endDate": "2015-06-01T00:00:00"
  },
  {
    "key": "4027fd6d-b0c6-4927-9814-818547cc73ef",
    "name": "High School - Albert Einstein School",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "High School",
    "placeName": "Albert Einstein School",
    "details": "<p>I really enjoyed High School and I came away with lots of qualifications</p>",
    "startDate": "2005-09-01T00:00:00",
    "endDate": "2010-05-01T00:00:00"
  }
]]]></Value>
    </educationHistory>
    <educationHistoryTitle>
      <Value><![CDATA[Education]]></Value>
    </educationHistoryTitle>
    <hobbies>
      <Value><![CDATA[<p>I enjoy reading, walking, gaming and of course programming.</p>]]></Value>
    </hobbies>
    <hobbiesTitle>
      <Value><![CDATA[Hobbies]]></Value>
    </hobbiesTitle>
    <metaDescription>
      <Value><![CDATA[This is my CV page where I showcase my skills, education and work experience]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[CV | Portfolio]]></Value>
    </metaTitle>
    <skills>
      <Value><![CDATA[[
  {
    "key": "cc9918eb-e682-48b8-a540-119f212273cc",
    "name": "Umbraco - 100%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "Umbraco",
    "rating": "100"
  },
  {
    "key": "d9e5eb38-200c-426e-8cfe-081a081a04ab",
    "name": "C# - 90%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "C#",
    "rating": "90"
  },
  {
    "key": "50ce6a07-8ba6-478c-a71f-228bd27ec094",
    "name": "JavaScript - 80%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "JavaScript",
    "rating": "80"
  },
  {
    "key": "c9ed7b6b-82e7-43b0-a59a-1cefe6fe609c",
    "name": "HTML - 90%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "HTML",
    "rating": "90"
  }
]]]></Value>
    </skills>
    <skillsTitle>
      <Value><![CDATA[Skills]]></Value>
    </skillsTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <workHistory>
      <Value><![CDATA[[
  {
    "key": "231d4cb2-fa7b-4bf4-9f61-a3972ffbce73",
    "name": "Senior Umbraco Developer - Special Inc",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "Senior Umbraco Developer",
    "placeName": "Special Inc",
    "details": "<p>I am currently a Senior Umbraco Developer, loving what I do with a Special company</p>",
    "startDate": "2018-12-01T00:00:00",
    "endDate": ""
  },
  {
    "key": "df94bd20-cc60-48ec-8ffb-2beb3d34f8ab",
    "name": "Umbraco Developer - Umbraco Gold Partner",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "Umbraco Developer",
    "placeName": "Umbraco Gold Partner",
    "details": "<p>As an Umbraco Developer I was able to work with Umbraco everyday.</p>",
    "startDate": "2015-05-01T00:00:00",
    "endDate": "2018-12-01T00:00:00"
  }
]]]></Value>
    </workHistory>
    <workHistoryTitle>
      <Value><![CDATA[Work History]]></Value>
    </workHistoryTitle>
  </Properties>
</Content>