<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ce87a31-6300-453f-a818-4b27f5a8db12" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da0613c2-6860-4f11-bd0b-d8069a143c76">Home</Template>
  </Info>
  <Properties>
    <aboutMe>
      <Value><![CDATA[<p>Hello! I'm <strong>Jane Doe</strong>. I'm an Umbraco Developer who loves building stunning websites and creating delightful editing experiences.</p>]]></Value>
    </aboutMe>
    <avatar>
      <Value><![CDATA[umb://media/389a4e0d2f8b469e9da484841403d763]]></Value>
    </avatar>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <footerContentLinks>
      <Value><![CDATA[[{"name":"Contact","udi":"umb://document/df0e56c12d5c4854bd99049123433b4b"},{"name":"Projects","udi":"umb://document/fd313082381444d49a36cc0b6106d4d8"}]]]></Value>
    </footerContentLinks>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "key": "65ea82f8-a3f9-414a-9f26-b8de3b90fa69",
    "name": "Twitter",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Social Twitter"
    ],
    "link": [
      {
        "name": "Twitter",
        "target": "_blank",
        "url": "https://twitter.com/CodeSharePaul"
      }
    ]
  },
  {
    "key": "c50be4df-176b-4d9a-a4fb-9e7344cb8e06",
    "name": "LinkedIn",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Social Linkedin Outline"
    ],
    "link": [
      {
        "name": "LinkedIn",
        "target": "_blank",
        "url": "https://www.linkedin.com/in/paul-seal-3064892/"
      }
    ]
  },
  {
    "key": "aa01efb7-4696-4744-b6cb-c2ce70f12906",
    "name": "YouTube Channel",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Social Youtube Outline"
    ],
    "link": [
      {
        "name": "YouTube Channel",
        "target": "_blank",
        "url": "https://www.youtube.com/user/pcHelpFromPaul?sub_confirmation=1"
      }
    ]
  },
  {
    "key": "9d42f79a-0041-4706-818c-ec2244dd8324",
    "name": "GitHub",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Social Github Outline"
    ],
    "link": [
      {
        "name": "GitHub",
        "target": "_blank",
        "url": "https://github.com/prjseal"
      }
    ]
  },
  {
    "key": "8b2c4c81-13b8-476b-8280-423d9075c05e",
    "name": "Buy me a coffee",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Coffee"
    ],
    "link": [
      {
        "name": "Buy me a coffee",
        "target": "_blank",
        "url": "https://codeshare.co.uk/coffee"
      }
    ]
  },
  {
    "key": "bd700c20-9bd3-4267-b34f-3c3028f17398",
    "name": "codeshare.co.uk",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Android Share Alt"
    ],
    "link": [
      {
        "name": "codeshare.co.uk",
        "target": "_blank",
        "url": "https://codeshare.co.uk"
      }
    ]
  }
]]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/649184f94d1340ce959c0cefcd005acd",
        "settingsUdi": "umb://element/1dc5f7680cb84520a2e7145a1c349be4"
      },
      {
        "contentUdi": "umb://element/7a2243381cb74d56a53a370c22e18731",
        "settingsUdi": "umb://element/915b74c12c564a228ff31e716119181e"
      },
      {
        "contentUdi": "umb://element/8ee0bd6662d24961b0882f1da940b50e",
        "settingsUdi": "umb://element/f31f872400324fb4bb266a4356c395a6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0ff0a31a-3727-4cba-b45b-4ba8519499bd",
      "udi": "umb://element/7a2243381cb74d56a53a370c22e18731",
      "title": "Special Skills",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ac777ec30f5446acb4c2cf3ba7955818",
              "settingsUdi": "umb://element/4e7e112c781549c2b89dda81c51334d6"
            },
            {
              "contentUdi": "umb://element/81b42c2e8f39415b8b1c6aa656c45e0f",
              "settingsUdi": "umb://element/4ccd9e7eb32d46dab99670c6bce28b5d"
            },
            {
              "contentUdi": "umb://element/0d402062e033403788f1498d13f1d625",
              "settingsUdi": "umb://element/002ad580c3f940a29890f17204727d57"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
            "udi": "umb://element/ac777ec30f5446acb4c2cf3ba7955818",
            "iconClass": [
              "Ios Star Outline"
            ],
            "title": "Umbraco Master",
            "description": "I am an Umbraco Certified Master. I love everything about Umbraco, especially v9"
          },
          {
            "contentTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
            "udi": "umb://element/81b42c2e8f39415b8b1c6aa656c45e0f",
            "iconClass": [
              "Social Github Outline"
            ],
            "title": "Git Expert",
            "description": "I am an expert at Git. Talk to me if you need some help with rebasing or merging with confilicts."
          },
          {
            "contentTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
            "udi": "umb://element/0d402062e033403788f1498d13f1d625",
            "iconClass": [
              "Trophy"
            ],
            "title": "Umbraco MVP",
            "description": "I have been awarded an Umbraco MVP award for my contributions to the Umbraco Community"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
            "udi": "umb://element/4e7e112c781549c2b89dda81c51334d6",
            "hide": ""
          },
          {
            "contentTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
            "udi": "umb://element/4ccd9e7eb32d46dab99670c6bce28b5d",
            "hide": ""
          },
          {
            "contentTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
            "udi": "umb://element/002ad580c3f940a29890f17204727d57",
            "hide": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "8728e9e8-749f-4719-a3f3-6ed780b42141",
      "udi": "umb://element/649184f94d1340ce959c0cefcd005acd",
      "text": "Like what you see?",
      "link": [
        {
          "name": "Hire me",
          "url": "/contact/"
        }
      ]
    },
    {
      "contentTypeKey": "96dd9b3c-04ae-47fb-b610-d546b05740bb",
      "udi": "umb://element/8ee0bd6662d24961b0882f1da940b50e",
      "title": "Online Blogging Site",
      "description": "I was fortunate enough to be involved in building the popular blog called codeshare.co.uk. I even migrated it from Umbraco 7 to Umbraco 8.",
      "image": [
        {
          "key": "e5d880bc-55f4-4201-9373-843372bb39ec",
          "mediaKey": "121e4357-98a2-4d70-ac44-d87e1732f2e4",
          "crops": [],
          "focalPoint": {
            "left": 0.5,
            "top": 0.5
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e2ec53a3-602d-4134-a56e-7ff7fe92a587",
      "udi": "umb://element/915b74c12c564a228ff31e716119181e",
      "itemName": "",
      "hide": "0"
    },
    {
      "contentTypeKey": "e1d2ae73-a9e2-42f5-85ac-c2a1d4c27c3d",
      "udi": "umb://element/1dc5f7680cb84520a2e7145a1c349be4",
      "itemName": "",
      "hide": "0"
    },
    {
      "contentTypeKey": "40c5160c-386f-42cf-9101-b4c816fc8a2d",
      "udi": "umb://element/f31f872400324fb4bb266a4356c395a6",
      "itemName": "",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[My name is Jane Doe, this is my Portfolio website where you can find out all about me, my skills and experience.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Home | Portfolio]]></Value>
    </metaTitle>
    <profileLink>
      <Value><![CDATA[[{"name":"Read my CV","udi":"umb://document/d66675fea1f041279a832dade3d4c607"}]]]></Value>
    </profileLink>
    <siteName>
      <Value><![CDATA[Jane Doe]]></Value>
    </siteName>
  </Properties>
</Content>