<?xml version="1.0" encoding="utf-8"?>
<Content Key="efe99110-bc47-492c-b6d8-f021647d3ce1" Alias="Online Shop" Level="3">
  <Info>
    <Parent Key="fd313082-3814-44d4-9a36-cc0b6106d4d8">Projects</Parent>
    <Path>/Home/Projects/OnlineShop</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="Online Shop" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4203639-ce9c-448b-93c6-ad498f5794ba">Project</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[<p>My client runs a physical shop on the high street and they had a static site to advertise their business.</p>
<p>They wanted to start writing blog posts about their niche and advertising their products. They also wanted to start selling online.</p>
<p>Umbraco was a perfect solution for them. It would allow them to easily write blog posts and there are eCommerce packages available for Umbraco to allow them to sell online.</p>
<p>The website took 4 weeks to build and it went live last month. The blog posts are creating sales as they hoped.</p>]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[umb://media/8ad7c75a3a804b8d8a9b25ee67f84ea9]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Find out about the time when I built an online shop for a proper shop]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Online Shop Project | Portfolio]]></Value>
    </metaTitle>
    <projectDate>
      <Value><![CDATA[2021-09-14T00:00:00]]></Value>
    </projectDate>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>