<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd313082-3814-44d4-9a36-cc0b6106d4d8" Alias="Projects" Level="2">
  <Info>
    <Parent Key="4ce87a31-6300-453f-a818-4b27f5a8db12">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectList</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="710c93a2-eed2-42f3-9537-b4c900618d8f">ProjectList</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <metaDescription>
      <Value><![CDATA[Here are some of the recent projects I have worked on]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Projects | Portfolio]]></Value>
    </metaTitle>
    <title>
      <Value><![CDATA[Recent Work]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>