<?xml version="1.0" encoding="utf-8"?>
<Content Key="36f5b754-1a58-4280-9ab4-d85d1f74662b" Alias="Register" Level="2">
  <Info>
    <Parent Key="4ce87a31-6300-453f-a818-4b27f5a8db12">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2021-09-30T06:24:51</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f13efc8d-ef55-4d16-9761-baa2250ce4fa">Register</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <memberType>
      <Value><![CDATA[Member]]></Value>
    </memberType>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>