<?xml version="1.0" encoding="utf-8"?>
<Content Key="2616f6b5-9089-444d-aa79-428f1b087fda" Alias="The Museum" Level="3">
  <Info>
    <Parent Key="fd313082-3814-44d4-9a36-cc0b6106d4d8">Projects</Parent>
    <Path>/Home/Projects/TheMuseum</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2021-09-29T23:10:49</CreateDate>
    <NodeName Default="The Museum" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4203639-ce9c-448b-93c6-ad498f5794ba">Project</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[<p>A local museum approached me, asking if I could build a beautiful website to show of their amazing art pieces.</p>
<p>They have a lot of editors and wanted custom features such as content locking, to prevent editors overwriting each other's work.</p>
<p>I built custom packages for them to use on their site and they allowed me to release them as open source packages for the benefit of the rest of the Umbraco community.</p>]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[umb://media/4087e754fa9047d89a8cde7bdf661d96]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Learn about the project I did for the local museum]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[The Museum Project | Portfolio]]></Value>
    </metaTitle>
    <projectDate>
      <Value><![CDATA[2021-09-13T00:00:00]]></Value>
    </projectDate>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>